<div class="heroBase">
  <div class="hero">
    <div class="projectImage">
      <%= image_tag project.image.to_s, class: "hero-image" %>
    </div>
    <div class="projectInfo">
      <div class="successIcon">
        <%= success_icon(project) %>
      </div>
      <div class="moneyTotal">
        <p class="moneyTotalText">応援購入総額</p>
        <p class="moneyTotalNum"><%= total_price %>円</p>
        <p class="moneyGoal">目標金額 <%= project.target_amount.to_s(:delimited) %>円</p>
        <div class="moneyMater">
          <%= success_rate %>%
          <progress id="myProgress" value=<%= success_rate %> max="100">0%</progress>
        </div>
      </div>
      <div class="supporter">
        <p class="supporterText">サポーター</p>
        <p class="supporterNum"><%= project.purchases.count %>人</p>
      </div>
      <div class="day">
        <p class="dayText">残り</p>
        <p class="dayNum">
          <% if  project.start_date.after? Date.today %>
            <p class="start-day"><%= project.start_date.strftime("%Y年 %m月 %d日") %></p><p class="startDayText">に開始予定です。</p>
          <% elsif project.end_date.before? Date.today %>
            終了
          <% else %>
            <%= (project.end_date - Date.today).to_int %>日
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="heroBtmBase">
  <div class="projectTitle">
    <p class="projectTitleText"><%= project.title %></p>
  </div>
</div>
