<% provide(:title, @project.title) %>
<%= render "shared/error", obj: @project %>
<div class="container">
  <%= render "hero_base", project: @project %>
  <div class="main">
    <div class="leftContent">
      <%= render "profile", project: @project %>
      <%= render "catch_copy", project: @project %>
      <%= render "left_content_main", project: @project %>
      <%= render "comment", comment: @comment %>
    </div>
    <div class="rightContent">
      <h3 class="returnTitle">リターン</h3>
      <%= render "purchases/new" %>
    </div>
  </div>
  <%= render "recommended", recommended_projects: @recommended_projects %>
</div>
