<div class="container">
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <%= render "slider", slider_projects: @slider_projects %>
  <%= render "home_introduction" %>
  <h3 class="recommendedHomeTitle">新しいプロジェクト</h3>
  <%= render "recommended_projects", projects: @latest_projects %>
  <h3 class="recommendedHomeTitle">開始予定のプロジェクト</h3>
  <%= render "recommended_projects", projects: @start_projects %>
  <h3 class="recommendedHomeTitle">終了したプロジェクト</h3>
  <%= render "recommended_projects", projects: @end_projects %>
</div>
